<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color</title>
    <style>
        div {
            padding: 5em;
        }
    </style>
</head>
<body>
    
<div id="color-div"></div>
<p id="clr"></p>
<p id="loc"></p>
<script type="text/javascript">
    const div = document.getElementById("color-div");
    const clr = document.getElementById("clr")
    const loc = document.getElementById("loc")
    const socket = new WebSocket("ws://{{.}}:8080/color");

    socket.onopen = function () {
        msg.innerHTML += "Status: Connected\n";
    };

    socket.onmessage = function (e) {
        let data = JSON.parse(e.data)
        div.style = "background: " + data.color
        clr.innerHTML = "Color: " + data.color + "\n";
        loc.innerHTML = "Location: " + data.location + "\n";
    };
</script>
</body>
</html>